input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
    }

    mouse {
        accel-profile "flat"
    }
}

output "HDMI-A-1" {
    mode "3840x2160@60"
    scale 1.6
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-2" {
    mode "3840x2160@60"
    scale 1.6
    transform "normal"
    position x=0 y=0
}
