include "config/env.kdl"
include "config/io.kdl"
include "config/ui.kdl"
include "config/rules.kdl"
include "config/binds.kdl"
include "config/exec.kdl"

include optional=true "dms/cursor.kdl"
include optional=true "dms/colors.kdl"
include optional=true "dms/wpblur.kdl"
include optional=true "dms/alttab.kdl"
include optional=true "dms/binds.kdl"
include optional=true "dms/layout.kdl"
include optional=true "dms/outputs.kdl"
